:root {
  /* --vt-c-white: #ffffff;
  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-text-light-1: var(--vt-c-indigo); */
  --violet: #fe19a7;
  --dark: #2a1452;
  --accent: #18e8fb;
  --white: #fafafa;
}

:root {
  --color-background: var(--dark);
  --color-heading: var(--accent);
  --color-text: var(--white);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  color: var(--color-text);
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: var(--color-background);
  transition: color 0.5s, background-color 0.5s; */
}
